<!--第四课内容 -->
{% extends 'base/layout.html' %}

<!--第四课内容 下面是正文-->
{% block content %}
<link href="{{STATIC_URL}}/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="{{STATIC_URL}}/css/plugins/iCheck/custom.css" rel="stylesheet">

<!-- Steps -->
<script src="{{STATIC_URL}}/js/plugins/staps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="{{STATIC_URL}}/js/plugins/validate/jquery.validate.min.js"></script>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>定时远程命令任务</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="form" action="/task/remotecmd" method="post" class="wizard-big">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <h1>主机信息</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>任务名称 *</label>
                                        <input id="task_remotecmd_name" name="task_remotecmd_name" type="text"
                                               onkeyup="value=value.replace(/[^a-z0-9-]|_/g,'');"
                                               class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>IP:端口 *</label>
                                        <input id="task_remotecmd_hostandport" name="task_remotecmd_hostandport" type="text"
                                               placeholder="127.0.0.1:22,默认22端口"
                                               onkeyup="value=value.replace(/[^0-9-:.]|_/g,'');"
                                               class="form-control required">

                                    </div>
                                    <div class="form-group">
                                        <label>SSH用户名 *</label>
                                        <input id="task_remotecmd_username" name="task_remotecmd_username"
                                               placeholder="root" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>SSH密码 *</label>
                                        <input id="task_remotecmd_password" name="task_remotecmd_password"
                                               placeholder="" type="password"
                                               class="form-control required">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                        <i id="icon_cicle" class="fa fa-circle" style="color: red"></i>
                                        <button type="button" class="btn btn-primary" onclick="testSSHConn()">测试连接</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <h1>执行计划</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>执行间隔类型 *</label>
                                        <select class="form-control" name="task_remotecmd_trigger_type"
                                                id="task_remotecmd_trigger_type">
                                            <option value="interval">interval</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>定时单位 *</label>
                                        <select class="form-control" name="task_remotecmd_trigger_arg"
                                                id="task_remotecmd_trigger_arg" required>
                                            <option value="seconds">按秒</option>
                                            <option value="minutes">按分钟</option>
                                            <option value="hours">按小时</option>
                                            <option value="days">按天</option>
                                            <option value="weeks">按周</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>定时值 *</label>
                                        <input placeholder="只需输入数值" id="task_remotecmd_trigger_value"
                                               name="task_remotecmd_trigger_value"
                                               oninput="value=value.replace(/[^\d]/g,'')" type="text"
                                               class="form-control" required>
                                    </div>


                                </div>
                            </div>
                        </fieldset>
                        <h1>命令or脚本</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>类型 *</label>
                                        <select class="form-control" name="task_remotecmd_cmd_type"
                                                id="task_remotecmd_cmd_type" required>
                                            <option value="cmd">命令</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8">

                                    <div class="form-group">
                                        <label>定时值 *</label>
                                        <input placeholder="ls -l" id="task_remotecmd_cmd_value"
                                               name="task_remotecmd_cmd_value"
                                               type="text"
                                               class="form-control" required>
                                    </div>


                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<script src="{{STATIC_URL}}/js/task/remotecmd.js?version={{VERSION}}"></script>-->
<script>
    function testSSHConn() {
         var host = $('#task_remotecmd_hostandport').val();
         var username = $('#task_remotecmd_username').val();
         var password = $('#task_remotecmd_password').val();
         $.ajax({
            url: '/api/testsshconn',
            type: 'post',
            // dataType: 'json',
            headers: {
                'Content-Type': 'application/json'
            },
            data: {'host': host,'username':username,'password':password},
            beforeSend: function(){
             // Handle the beforeSend event
                var index = layer.load(1, {
                  shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
            },
            success: function (o) {
                layer.closeAll('loading');
                 if (o.RESPONSE.RETURN_CODE == 'S') {
                    $('#icon_cicle').css({color: "#097a1f"})
                    layer.msg('测试通过')
                 } else {
                    $('#icon_cicle').css({color: "#9c000a"})
                 }
            }
         })
    }



$(document).ready(function () {


    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
        errorPlacement: function (error, element) {
            element.before(error);
        },
        rules: {
            confirm: {
                equalTo: "#password"
            }
        }
    });
});
</script>
{% endblock %}


